.chronotime {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: #333333;
  border-radius: 50%;
  margin-bottom: 30px;
}

.chronotime-text {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  letter-spacing: 4px;
  color: #fff;
}

.chronotime-text span {
  text-align: center;
  display: block;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.row-table {
  display: block;
  margin: 0 0 30px 0;
  height: calc(100vh - 10vh);
  overflow-y: auto;
}

.row-table .interval {
  color: green;
}

.col {
  margin: 0 20px;
}

table {
  border-collapse: collapse;
}

table td,
th {
  font-size: 18px;
  border-bottom: 1px solid #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Tema dark */
body.white table td,
th {
  color: #000000;
}