.Cronometro {
  height: calc(100vh - 55px);
  overflow: auto;
}

.chronotime {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: #333333;
  border-radius: 50%;
  margin-bottom: 30px;
}

.chronotime-text {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  letter-spacing: 4px;
  color: #fff;
}

.chronotime-text span {
  text-align: center;
  display: block;
  width: 100%;
}

.row-table {
  display: block;
  height: calc(100vh - 10vh);
  overflow-y: auto;
}

.row-table .interval {
  color: green;
}

table {
  border-collapse: collapse;
}

table td,
th {
  font-size: 18px;
  border-bottom: 1px solid #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

table thead {
  position: sticky;
  top: 0;
  background-color: rgba(0,0,0,.8);
  display: inline-block;
}

table tbody {
  display: inline;
}

/* Tema dark */
body.white table td {
  color: #000000;
}
